body{
    text-align: center;
    background-image: linear-gradient(to right, rgb(4, 100, 179) , rgb(104, 204, 243));
}
menu{

    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
img{
    border-radius: 20px;
}